.listManagersPage__container { margin-top: 50px; }

.listManagersPage__header {
    widows: 100%;
    color: rgba(0, 0, 0, 0.7);;
    display: flex;
    justify-content: center;
    
}
.listManagersPage__header > h1 { margin: 0; padding: 0; }
.listManagersPage__bottomNavbar {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.listManagersPage__bottomNavbar__addedButton { position: absolute; right: 0; }

.listManagersPage__tableHead th {
    background: #3f51b5;
    color: white;
    font-size: 16px;
}

.listManagersPage__selectWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.listManagersPage__selectWrapper > span { margin-right: 20px; }


.listManagersPage__selectWrapper__select { height: 30px; }
.test td:last-child { width: 0px; }

.test td:nth-child(1){ width: 100px; }
.test td:nth-child(2){ width: 150px; }
.test td:nth-child(3){ width: 170px;}
.test td:nth-child(4){ width: 150px;}
.test td:nth-child(5){ width: 200px;}
.test td:nth-child(6){ width: 180px;}



