
.addManager__formManager {
 
    height: 350px;
  
}

.addManager__paper {

    height: 550px;
 
}



.addManager__header { margin-bottom: 30px; }

.addManager__buttonWrapper {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.addManager__button { width: 120px; }
.addManager__loader { width: 100%; position: absolute; top: 0; }