.addManager__conteiner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.addManager__formManager {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 80%;
    flex-direction: column;
}

.addManager__paper {
    position: relative;
    padding-top: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.addManager__header { margin-bottom: 30px; }

.addManager__buttonWrapper {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.addManager__button { width: 120px; }
.addManager__loader { width: 100%; position: absolute; top: 0; }