.listStyle__container { margin-top: 50px; }

.listStyle__header {
    color: rgba(0, 0, 0, 0.7);;
    display: flex;
    justify-content: center;
}
.listStyle__header > h1 { margin: 0; padding: 0; }

.listStyle__tableHead th {
    background: #3f51b5;
    color: white;
    font-size: 16px;
}

.listStyle__bottomNavbar {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.listStyle__bottomNavbar__addedButton { position: absolute; right: 0; }